<section>
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
 
  <div class="homepage">

  <div class="container">

      <h1 class="lead" style="font-family: 'Anton', sans-serif; font-size:300%; color:#f3b21d; text-align: center;left:17%;" >
      	Determine the State of Your Irrigation System with Confidence <!-- added quote -->
        Distribution Uniformity Calculator
      </h1>
  </div>
</div>
<footer style="border-top-style: solid; border-top-style: 10px;text-align: center; background-color:blue; ">
    <p style="position:absolute;right:0px; color:#fff">Photo Source: http://www.clker.com/clipart-155191.html </p>  
     <a href="http://ifas.ufl.edu/" id="ifas" style="display: inline-block;" ><img src="/modules/core/client/img/brand/UF-IFAS-logo-white.png"></a> <!--add ifas logo that redirects you to the ifas website -->
  </footer>
</section>
